/*Estilo mobiles*/

body {
    background-color: aqua;
}

h1 {
    padding: 10px;
    font-size: 1rem;
}

/* //max-width
min-width */
/* de mayor a menor */
/* @media(max-width: 600px) {
    body {
        background-color: red;
    }
}

@media(max-width: 400px) {
    body {
        background-color: blue;
    }
} */

/* @media(min-width: 400px) and (max-width: 450px) {
    body {
        background-color: cadetblue;
    }
} */

@media(min-width: 400px) {
    body {
        background-color: blueviolet;
    }
    h1 {
        font-size: 2rem;
        color: white
    }
}

@media(min-width: 700px) {
    body {
        background-color: burlywood;
    }
    h1 {
        font-size: 2.5rem;
        color: white
    }
}