.categories {
  max-width: 80rem;
  margin: 2rem auto ; 
  padding: 0 3rem;
}

.categories__section {
  margin-bottom: 1rem;
}

.categories__title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 800;
}

.categories__text {
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: 1.25rem;
  max-width: 48rem;
  color: #60646C;
}

.products__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 32px;
    flex-wrap: nowrap;
}

.imagen__section {
    flex: 1 1 30%;
    max-width: 24rem;
    flex-direction: column;
}

.imagen__section img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.products__subtitle {
  font-weight: 600;
  margin: 16px 0px 8px;
  line-height: 24px;
  font-size: 14px;
}

.products__text {
    font-weight: 400;
    line-height: 20px;
    color: #60646C;
    font-size: 14px;
    letter-spacing: 0;
    margin-top: 8px;
    max-width: 384px;
}