* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}/*para respetar lo que especificamos*/

body {
  font-family: 'Inter', sans-serif;
  color: #171717;
  background-color: #ffffff;
  /* box-sizing: border-box; */
  font-weight: 400px;
  font-size: 20px;
}

header footer {
  height: 64px;
  font-size: 20px;
  font-weight: 500;
  padding: 24px 32px 24px;
}

main {
  margin: 0 auto;
  max-width:  768px;
  padding: 32px;
}

header {
  border-bottom:  1px solid black;
}

footer {
  border-top:  1px solid black;
}

h1 {
  margin-top: 64px;
  margin-bottom: 32px;
  font-weight: 800; /*Peso*/
  font-size: 36px; /*Tamaño*/
  line-height: 40px;  /*Altura de la línea*/
}

h2 {
  margin: 48px 0px 24px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

ul {
  padding-left: 26px;
  margin-bottom: 20px;
}

li {
  margin: 8px 0;
}

a {
  color: blue;
  text-decoration: underline;
}

/*
.nosotros {
  /* margin-top: 100px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 20px; 

  margin: 100px 50px 50px 20px; up right down left
  margin: 100px 50px; up/down right/left 
  margin: 10px;

  padding: 10px;

  border: 5px ridge black;

  /*width: 200px;
  /*display: inline; /*el otro tbn debe tener este deisplay

  min-width: 150px;
  max-width: 300px;

  /*height: 500px;*/

  /*border-radius: 15px;
  border-top-left-radius: 50px;*/

  /*margin-left: auto;
  margin-right: auto;*/
/*}*/